<link href="~/Content/Index.css" rel="stylesheet" />

<div class="navbar">
    <div class="username">
        @if(Request.IsAuthenticated)
        {
            @User.Identity.Name
        }
    </div>
    <div class="login-info">
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("AddPayment","AddPayment","Payment")
            @Html.ActionLink("Logout","UserLogout", "Authorization")
            @Html.ActionLink("UserPanel","UserPanel","User")
        }
        else
        {
            @Html.ActionLink("Login","Login", "Authorization")
        }
    </div>
</div>